<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- MyBatis 프레임워크가 사용할 SQL 문장들을 정의 -->
<mapper namespace="edu.job.project.mappers.MemberMapper">

<insert id="insertMember">
insert into ${tbl_member}(${col_userid}, ${col_password}, ${col_username}, ${col_phone}) 
values(#{userId}, #{password}, #{userName}, #{phone})
</insert>

<select id="login" resultType="Member">
select * from ${tbl_member} where ${col_userid} = #{userId} and ${col_password} = #{password}
</select>

<select id="checkid" resultType="Integer">
select count(${col_userid}) from ${tbl_member} where ${col_userid} = #{userId} 
</select>

<select id="namecheck" resultType="Integer">
select count(${col_username}) from ${tbl_member} where ${col_username} = #{userName} 
</select>

</mapper>