<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- MyBatis 프레임워크가 사용할 SQL 문장들을 정의 -->
<mapper namespace="edu.job.project.mappers.MessageMapper">

<!-- 받은 메세지 전체 -->
<select id="messageAll" resultType="Message">
      select * from ${tbl_message}
      where ${col_yourid} = #{yourId}
      order by ${col_mno} desc
</select>

<!-- 보낸 메세지 전체 -->
<select id="sendMessageAll" resultType="Message">
      select * from ${tbl_message}
      where ${col_userid} = #{userId}
      order by ${col_mno} desc
</select>

<insert id="messageSend">
      insert into ${tbl_message} (${col_userid}, ${col_yourid}, ${col_mcontent})
        values (#{userId}, #{yourId}, #{mcontent})
</insert>

<select id="selectByMno" resultType="Message">
     select * from ${tbl_message}
     where ${col_mno} = #{mno}
</select>

<update id="updateReadOr">
     update ${tbl_message} set ${col_reador} = '읽음'
     where ${col_mno} = #{mno}
</update>

<delete id="deleteMessege">
   delete from ${tbl_message} where ${col_mno} = #{mno}
</delete>

<select id="totalGetCount" resultType="Integer">
	select count(${col_mno}) from ${tbl_message}
	where ${col_yourid} = #{yourId}
</select>

<select id="totalSendCount" resultType="Integer">
	select count(${col_mno}) from ${tbl_message}
	where ${col_userid} = #{userId}
</select>

<select id="selectCount" resultType="Integer">
select count(${col_reador}) from ${tbl_message}
      where ${col_yourid} = #{yourId} and ${col_reador} ='읽지 않음'
</select>    

<!--  받은 쪽지 -->
<select id="listgetPage" resultType="Message">
	select b.rn, b.mno, b.userid, b.yourid, b.mcontent, b.regdate, b.reador
	from (
	select rownum rn, a.*
	from(
		select * from ${tbl_message}
		where ${col_yourid} = #{yourId}
		order by ${col_mno} desc
	) a
	) b
	where rn between #{start} and #{end}
</select>

<!--  보낸 쪽지 -->
<select id="listsendPage" resultType="Message">
	select b.rn, b.mno, b.userid, b.yourid, b.mcontent, b.regdate, b.reador
	from (
	select rownum rn, a.*
	from(
		select * from ${tbl_message}
		where ${col_userid} = #{userId}
		order by ${col_mno} desc
	) a
	) b
	where rn between #{start} and #{end}
</select>
  	

     

</mapper>