<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <!-- MyBatis 프레임워크에서 사용될 여러가지 환경 설정 정보들을 설정 -->
<configuration>
	<!-- MEMBER -->
	<properties>
	<property name="tbl_member" value="member"/>
	<property name="col_userid" value="userId"/>
	<property name="col_password" value="password"/>
	<property name="col_username" value="userName"/>
	<property name="col_phone" value="phone"/>
	<property name="col_profileurl" value="profileUrl"/>
	<property name="col_onlec" value="onLec"/>
	<property name="col_offlec" value="offLec"/>
	<property name="col_offlecwaiting" value ="offlecwaiting"/>
	
	<!--MESSAGE -->
	<property name="tbl_message" value="user_message"/>
	<property name="col_mno" value="mno"/>
	<property name="col_userid" value="userId"/>
	<property name="col_yourid" value="yourId"/>
	<property name="col_mcontent" value="mcontent"/>
	<property name="col_regdate" value ="regDate"/>
	<property name="col_imagepath" value = "imagePath"/>
	
	
	<!--UPLOAD_ONLINE -->
	<property name="tbl_onlec" value="onlec"/>
	<property name="col_bno" value="bno"/>
	<property name="col_groupbno1" value="groupBno"/>
	<property name="col_leccategory" value="lecCategory"/>
	<property name="col_title" value="title"/>
	<property name="col_content" value="content"/>
	<property name="col_videopath" value="videoPath"/>
	<property name="col_addfile" value="addFile"/>
	<property name="col_userid" value = "userId"/>
	<property name="col_regdate" value = "regDate"/>
	<property name="tbl_groupon" value = "groupon"/>
	<property name="col_groupbno" value = "groupBno"/>
	<property name="col_lecbno" value = "lecBno"/>
	<property name="col_lecname" value = "lecName"/>
	<property name="col_lectype" value = "lecType"/>
	<property name="col_leclike" value = "lecLike"/>
	<property name="col_cnt" value = "cnt"/>



   <!--MESSAGE -->
   <property name="tbl_message" value="messageham"/>
   <property name="col_mno" value="mno"/>
   <property name="col_userid" value="userId"/>
   <property name="col_yourid" value="yourId"/>
   <property name="col_mcontent" value="mcontent"/>
   <property name="col_regdate" value ="regDate"/>
   <property name="col_reador" value ="readOr"/>
   <property name="col_imagepath" value ="imagePath"/>
		

	<!-- UPLOAD_OFFLINE -->
	<property name="tbl_offlec" value="offlec"/>
	<property name="col_bno" value="bno"/>
	<property name="col_userid" value="userid"/>
	<property name="col_category" value="category"/>
	<property name="col_title" value="title"/>
	<property name="col_content" value="content"/>
	<property name="col_meetingday" value="meetingday"/>
	<property name="col_maxmember" value="maxmember"/>
	<property name="col_curmember" value="curmember" />
	<property name="col_regdate" value="regdate"/>
	<property name="col_applyId" value="applyid"/>
	<property name="col_waitingId" value="waitingid"/>	   
	<property name="col_imgpath" value="imgpath"/>
	<property name="col_location" value="location"/>
	<property name="col_groupbno2" value="groupbno"/>
	
	
	<!--  GROUP OFFLINE -->
	<property name="tbl_groupoff" value = "groupoff"/>	
	<property name="col_groupbno" value="bno"/>
	<property name="col_lecbno" value = "lecBno"/>
	<property name="col_userid" value="userid"/>
	<property name="col_lecname" value = "lecName"/>
	<property name="col_lectype" value = "lecType"/>
	<property name="col_leccategory" value="lecCategory"/>
	<property name="col_leclike" value = "lecLike"/>
		
	<!-- BlackBoard -->
	<property name="tbl_blackboard" value ="blackboard"/>
	<property name="col_bno" value="bno"/>
	<property name="col_userid" value="userid"/>
	<property name="col_json" value="json"/>
	<property name="col_title" value="title"/>	
		
	</properties>
	<!-- MyBatis 프레임워크에서 select의 결과를 저장할 Model 클래스(VO)를 찾기 위해서 -->
	<typeAliases>
	<package name="edu.job.project.domain"/>
	</typeAliases>
</configuration>